@media (min-width: 801px) {
  .club__vision {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
    &__header {
      h1 {
        font-size: 5em;
        margin: 0;
      }
    }
    &__content {
      width: 100%;
      &__text {
        text-align: center;
        font-size: 3em;
      }
      &__images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &--croc1 {
          transform: scaleX(-1);
          width: 25em;
        }
        &--croc2 {
          width: 25em;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .club__vision {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25rem;
    &__header {
      h1 {
        font-size: 5em;
        margin: 0;
      }
    }
    &__content {
      width: 100%;
      &__text {
        text-align: center;
        font-size: 3em;
      }
      &__images {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--croc1 {
          transform: scaleX(-1);
        }
      }
    }
  }
}
